<script setup lang="ts">
import { Ref, ref, watch } from "vue";
import { PropsIframe, EmitIframe, checkUrl } from './iframe';

const props = defineProps<PropsIframe>();

const emit = defineEmits<EmitIframe>();

const { statusOn, statusReturn, ...prop } = props as Omit<PropsIframe, 'url'>;

const loaded: Ref<boolean> = ref(false);
const presenceError: Ref<boolean> = ref(false);
const currentUrl: Ref<string> = ref('');

const handleError = (value: string): void => {
  presenceError.value = true;
  emit('error', value);
}

const handleLoad = (): void => {
  loaded.value = true
  emit('load', 'Страница загружена и готова к показу')
}

const loadRes = (): void => {
  if (statusOn) {
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = () => {
      if (statusReturn ? statusReturn.includes(xhr.status) : xhr.status === 200) {
        handleLoad();
      } else {
        loaded.value = false
        handleError('Неверный url')
      }
    }
    xhr.open("GET", currentUrl.value);
    xhr.send();
  } else {
    handleLoad()
  }
}

watch(() => props.url, (url): void => {
  presenceError.value = false;
  loaded.value = false;
  !url && (currentUrl.value = url);
  if (checkUrl(url)) {
    currentUrl.value = url;
  } else {
    loaded.value = false;
    handleError('Возникла ошибка');
  }
})
</script>

<template>
  <div>
    <p v-if="currentUrl && !loaded && !presenceError">Loading...</p>
    <iframe
      :style="currentUrl && loaded ? 'display: block' : 'display: none'"
      :src="currentUrl" 
      frameborder="0"
      v-bind="prop"
      @load="currentUrl && loadRes()">
    </iframe>
  </div>
</template>
